/*
 * Copyright (c) 2021 Henrik Brix Andersen <henrik@brixandersen.dk>
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
        dfrobot_sen0232: dfrobot_sen0232 {
                compatible = "dfrobot,sen0232";
		/* PTB10, J4 pin 6 */
                io-channels = <&adc1 14>;
                reference-voltage = <3300>;
        };
};

&adc1 {
	status = "okay";
};
