# Copyright (c) 2021 Henrik Brix Andersen <henrik@brixandersen.dk>
# SPDX-License-Identifier: Apache-2.0

if SHIELD_DFROBOT_SEN0232

config ADC
	default y

config SENSOR
	default y

config DFROBOT_SEN0232
	default y

endif # SHIELD_DFROBOT_SEN0232
